@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	display: flex;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}

.image {
	width: 100vw;
	height: 100vh;
}

.button {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 60%;
	width: 100%;
	left: 0%;
	z-index: 10;
}
