@use '@styles/func';
@use '@styles/variables';
@use '@styles/mixins';

.root {
  @include mixins.reset-btn;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-esq);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-blue-main);
  background: url("../../shared/assets/icons/card.svg");
  background-size: contain;
  cursor: pointer;
  transition: variables.$transition;
  transition-property: color, background-color;
  outline: none;
  user-select: none;

  &_sm {
    height: 72px;
    padding: 26px 75px;
  }

  &_md {
    height: func.rem(60);
    padding: func.rem(20) func.rem(50);

    @include mixins.tablet {
      height: func.rem(50);
      padding: func.rem(15) func.rem(50);
    }
  }

  &_white {
    color: var(--color-blue-main);
    background-color: var(--color-white-default);
  }

  &:disabled {
    color: var(--color-black);
    background-color: var(--color-grey-hover);
    pointer-events: none;
  }
}
