@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 32px;
	align-items: center;

	svg {
    width: 197px;
    height: 240px;
		position: relative;
	}
}

.row {
	display: flex;
	gap: 32px;
}

.evenRow {
	@include tablet {
		transform: translateX(100px);
	}

	@include tablet-small {
		transform: translateX(0);
	}
}

.evenCard {
	@include tablet-small {
		transform: translateY(30px);
	}
}
