@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	max-width: 736px;
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 12px 32px;
	margin: 0 auto;

	@include tablet-small {
		max-width: 390px;
		max-height: 200px;
		padding-right: 1px;
	}

	@include mobile {
		max-width: 370px;
	}

	svg {
		@include tablet-small {
			max-height: 200px;
		}
	}
}

.content {
	position: absolute;
	top: 102px;
	left: 130px;
	max-width: 534px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 12px 32px;

	@include tablet-small {
		max-width: 80vw;
		left: 10%;
		top: 25%;
	}
}

.number {
	font-family: var(--font-esq);
	font-size: 22px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--color-white-3);

	@include tablet-small {
		font-size: 12px;
		line-height: 1.37;
		letter-spacing: -0.04em;
	}
}

.title {
	max-width: 82%;
	font-family: var(--font-act);
	font-size: 24px;
	line-height: 1.5;
	font-weight: bold;
	color: var(--color-white);
	text-transform: uppercase;

	@include tablet-small {
		max-width: 73%;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}
}

.description {
	font-family: var(--font-esq);
	font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
	color: var(--color-white-2);
	width: 80%;

	@include tablet-small {
		font-size: 10px;
		line-height: 1.8;
		width: 100%;
	}
}
