@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	position: relative;
	overflow: hidden;
	background: center no-repeat url('../../../public/images/spaceship.png');
	background-size: cover;
	height: 100vh;
	width: 100vw;
}
