@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	display: flex;
	max-width: 40px;
	width: 100%;
}

.link {
	background-color: var(--color-white-2);
	border-radius: 100%;
	width: 100%;
	position: relative;
	top: 2px;

	&__item {
		width: 100%;
		position: relative;
		top: -2px;
	}
}
