@use '@styles/func';
@use '@styles/mixins';

.root {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links, .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
}

.info {
  align-items: flex-start;

  font-family: var(--font-esq);
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-white);
}
