/* stylelint-disable selector-class-pattern */
@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	padding-top: 44px;

	.title {
		font-family: var(--font-act);
		font-size: 64px;
		line-height: 150%;
		word-spacing: 50%;

		@include tablet-small {
			font-size: 32px;
			line-height: 120%;
		}
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: visible;

		background: center no-repeat url('../../../public/images/mission__background.png');
		background-size: 1440px 100%;
		height: 100vh;
		width: 100vw;

		padding-top: 60px;

		&__wrapper {
			overflow-y: hidden;

			.wrapper__text {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 32px;

				font-family: var(--font-esq);
				font-size: 15px;
				line-height: 150%;
				color: var(--color-white-2);

				max-width: 416px;
				max-height: 340px;

				text-align: center;

				@include tablet {
					font-size: 14px;
				}

				@include tablet-small {
					font-size: 10px;

					max-width: 360px;
					max-height: 245px;
				}
			}
		}
	}

}
