@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	position: absolute;
	bottom: 0;
	z-index: 5;
	left: -200px;

	@include tablet {
		left: -350px;
	}

	@include tablet-small {
		left: -210px;
	}

	.image {
		@include tablet-small {
			width: 700px;
			height: 400px;
		}
	}
}
